<footer>
  
  <div class="max-width mx-auto">

    <div class="grid grid-cols-6">
      <!-- Logo -->
      <div class="py-10 col-span-6">
        <img class="mx-auto max-w-[40%]" src="/images/mido-tolo-color-logo-b.png">
      </div>
      <!-- Image -->
      <div class="col-span-6 sm:col-span-2 max-h-full">
        <a href="/index.html">
          <img class="curve-point-left" src="/images/midoandtolo-111.jpg">
        </a>
      </div>
      <!-- Navigation Links -->
      <nav class="p-4 grid grid-cols-4 col-span-4 justify-between gap-x-32 gap-y-10 md:gap-10 lg:gap-8">
        <!-- Link Group Loop -->
        {% for menu in site.data.navigation.footer-links %}
        <div class="col-span-4 sm:col-span-2 lg:col-span-1">
          <p class="font-semibold leading-8 featured-font">{{menu.heading}}</p>
          {% for link in menu.links %}
          <a href="{{link.url}}" class="font-thin block leading-7">{{link.text}}</a>
          {% endfor %}
        </div>
        {% endfor %}
  
        <div class="col-span-4 font-thin">
          <p><span class="featured-font">P.S. Some of the links on this site are affiliate links.</span>
            <br>That means if you make a purchase, we may earn a small commission (at no extra cost to you). Thanks for supporting our stories, our sunflowers, and maybe even a duck or two. 💛</p>
        </div>
      </nav>


      <!-- Copyright -->
      <div class="p-4 col-span-6 text-center">
        <p class="font-thin">🧿 © midoandtolo – website designed and built with ❤ by Sidney – <a href="/privacy-policy.html">privacy</a> – <a href="/sitemap.html">sitemap</a> – do not sell or share my information 🧿</p>
      </div>
    </div>
  
</footer>
