<footer>
  
  <div class="max-width mx-auto">

    <div class="grid grid-cols-6 py-8">
      <!-- Logo -->
      <div class="col-span-6 md:col-span-2">
        <a href="/index.html">
          <img class="curve-point-left" src="/images/midoandtolo-111.jpg">
        </a>
      </div>
      <!-- Navigation Links -->
      <nav class="p-4 grid grid-cols-4 col-span-4 justify-between gap-x-32 gap-y-10 md:gap-10 lg:gap-8">
        <!-- Link Group Loop -->
        {% for menu in site.data.navigation.footer-links %}
        <div class="col-span-4 sm:col-span-2 lg:col-span-1">
          <p class="font-semibold leading-8">{{menu.heading}}</p>
          {% for link in menu.links %}
          <a href="{{link.url}}" class="font-thin block leading-7">{{link.text}}</a>
          {% endfor %}
        </div>
        {% endfor %}
  
        <div class="col-span-4">
          <img class=" max-w-[80%]" src="/images/mido-tolo-color-logo-b.png">
        </div>
      </nav>

      <!-- Copyright -->
      <div class="p-4 col-span-6 text-center italic">
        <p class="font-thin">Copyright© 2025 Company name™. All rights reserved.</p>
      </div>
    </div>
  
</footer>
