<!------------------ SIDEBAR  --------------------------------->
<aside class="md:col-span-4 lg:col-span-3">

  <div class="bg-[var(--featured-color-v-light-yellow)] curve-point-right-sm">
      <div>
        <img src="/images/midoandtolo-driving-in-raptor.jpg" class="curve-point-right-sm-top">
      </div>
      <div class="mb-4 p-4 hover-white">
          <p class="">We’re Ahmed and Sidney, and Egyptian–American duo sharing stories from the road, life on our little farm, and adventures across the Middle East (and beyond). This blog is part travel guide, part personal journal — a place where you’ll find practical tips, expat insights, and honest reflections on building a life abroad.</p> 
          <a href="/about-us.html" class="subtle-button">More about us</a>
      </div>
  </div>

  <div class="bg-[var(--featured-color-v-light-blue)] curve-point-left-sm mb-4 p-4">
      <h4 class="mt-2 featured-font"> Recent Posts </h4>
      <nav class="recent-posts-nav hover-white"> 
          {% for page in site.posts limit:8 %}
                <a href="{{page.url}}" class="block leading-7 pb-2"> {{page.sidebar-title}}</a>
          {% endfor %}
      </nav>
  </div>

  <div class="bg-[var(--featured-color-v-light-yellow)] curve-point-right-sm mb-4 p-4">
      <h4 class="mt-2 featured-font"> Explore Categories </h4>
      <nav class="hover-white"> 
          {% for cat in site.archives limit:8 %}
          {% if cat.main-category == true %}
          <a href="{{cat.url}}" class="tag"> {{cat.category}}</a>
          {% endif %}
          {% endfor %}
      </nav>
  </div>

  <div class="bg-[var(--featured-color-v-light-blue)] curve-point-left-sm mb-4 p-4">
      <h4 class="mt-2 featured-font"> Explore Destinations </h4>
      <nav class="hover-white"> 
          {% for cat in site.archives %}
          {% if cat.location == true %}
          <a href="{{cat.url}}" class="tag"> {{cat.category}} </a>
          {% endif %}
          {% endfor %}
      </nav>
  </div>

  <div id="ml-form-embed-newsletter" class="bg-[var(--featured-color-v-light-yellow)]  ml-embedded" data-form="JLTXRY"></div>

</aside> <!-- end sidebar-->