<section id="section-{{forloop.index}}" class="filterable-gallery">
  <div class="max-width mx-auto">
    <!-- For the filtering -->
    <div>
      <span class="filter-buttons active">All</span>

    {% for button in block.filter-buttons %}
      <span class="filter-buttons">{{button.button-text}}</span>
    {% endfor %}
    </div>

    <!-- Things we're filtering -->
    <div class="grid grid-cols-3 gap-4">
    {% for grid-item in block.grid %}
    <div class="grid-items All {{grid-item.filter}}">
      <div>
        <span>{{grid-item.dish-name}} 
          {% if grid-item.filter contains 'Pescatarian' %} <i class="fa-solid fa-fish"></i> {% endif %} 

          {% if grid-item.filter contains 'Vegetarian' %} <i class="fa-solid fa-carrot"></i> {% endif %} 

          {% if grid-item.filter contains 'Vegan' %} <i class="fa-solid fa-leaf"></i> {% endif %} 

          {% if grid-item.filter contains 'Gluten free' %} <i class="fa-solid fa-wheat-awn-circle-exclamation"></i> {% endif %} 
        </span>
        <span>{{grid-item.price}}</span>
      </div>
      <div>{{grid-item.description}}</div>
    </div>
    {% endfor %}
    </div>


  </div>
</section>

<!-- Mini Style Sheet -->
<style>
  .filter-buttons.active {
    color: red;
  }
</style>


{% comment %}

<!-- FRONT MATTER REFERENCE -->
- id: filterable-menu
  filter-buttons:
        - button-text: Pescatarian
        - button-text: Vegetarian
        - button-text: Vegan
  grid:
    - filter: Vegetarian Vegan Nuts
      dish-name: Dish 1
      price: $45
      description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio perspiciatis perferendis architecto eveniet.
    - filter: Pescatarian
      dish-name: Dish 2
      price: $32
      description: Animi praesentium a recusandae sit. Velit natus suscipit corrupti rem ea. Excepturi quaerat porro at libero maiores.
    - filter: Vegetarian 
      dish-name: Dish 3
      price: $17
      description: Optio perspiciatis perferendis architecto eveniet. Praesentium a recusandae sit. Velit natus suscipit.
    - filter: Vegetarian 
      dish-name: Dish 4
      price: $36
      description: Praesentium a recusandae sit. Velit natus suscipit corrupti rem ea. Excepturi quaerat porro at libero maiores.

{% endcomment %}