<!-- Since the post loop item uses a column class, make sure the parent container has a grid -->

<div class="col-span-3 md:col-span-1 post-item p-8">
  <a href="{{ post.url }}">
    <div class="mb-4 aspect-square"> 
      <img src="{{ post.featured_image }}" class="inset-0 h-full w-full object-cover object-center">
    </div>
  </a>
  <div class="">
      
      {% for item in post.categories %}
          <span class="tag"> {{item}} </span>
      {% endfor %}

      <h2 class="mt-4 text-2xl featured-font"> {{ post.title }} </h2>
      <p> {{ post.description }} </p>
      <a href="{{ post.url }}" class="subtle-button"> Read More </a>

  </div>
</div>


<!-- Want the categories to link to their archive page? Replace the span with a link like this. 

{% for item in post.categories %}
  <span class="tag"> {{item}} </span>
{% endfor %}


-->